<div class="specialist-detail">
  <h4 class="specialist-detail__title">Perfil Profesional</h4>
  <div class="specialist-detail__desc">
    <p>El doctor Juan Pablo Riveros tiene más de 25 años de experiencia como Cardiólogo e Internista, su énfasis ha sido la prevención y el tratamiento de todo tipo de enfermedades cardiovasculares y metabólicas como la diabetes, el sobrepeso y los factores de riesgo asociados.</p>
  </div>
  <h4 class="specialist-detail__title">Especialidades</h4>
  <ul class="chips">
    <li class="chip">Cirugía cardiovascular</li>
    <li class="chip">Ecocardiografía</li>
    <li class="chip">Hipertensión</li>
    <li class="chip">Insuficiencia cardíaca</li>
  </ul>
</div>