<div class="specialist-detail">
  <h4 class="specialist-detail__title">Perfil Profesional</h4>
  <div class="specialist-detail__desc">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident quasi tempore ipsum optio expedita nam repudiandae aperiam voluptatum deleniti reprehenderit quibusdam nostrum maxime consectetur, corporis ea veritatis quas quidem a!</p>
  </div>
  <h4 class="specialist-detail__title">Especialidades</h4>
  <ul class="chips">
    <li class="chip">Cirugía cardiovascular</li>
    <li class="chip">Ecocardiografía</li>
    <li class="chip">Hipertensión</li>
    <li class="chip">Insuficiencia cardíaca</li>
  </ul>
</div>