// Global Styles

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, main {
  height: 100%;
}

html { background-color: yellow; }
body { background-color: blue; }
main { background-color: red; }