// Global Styles

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, main {
  height: 100%;
}
body {
  border: 12px solid white;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}