// Variables Styles

// COLORS
$colorLight: #F0EDED;
$colorWhite: #F5F5F5;
$colorBlack: #040808;

// SIZES
$base_size: 4px;
$padding1: ($base_size * 1) ($base_size * 2);
$padding2: ($base_size * 2) ($base_size * 3);
$padding3: ($base_size * 4) ($base_size * 6);